* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Erase Me Later ****/

/* nav, header, section, footer, .headerLeft , .headerRight, .aboutUsLeft, .AboutUsRight, ul, .openingHours, .openingHours2, .box1, .box2, .welcome, .search, .socialIcons, .order, .topOrder, .bottomOrder, .orderContainer {
    border: 2px solid black;
}
 */
/*** Layout ****/


header {
    height: 100dvh;
}

nav {
    height: 20%;
    width: 100%;
}

.headerLeft, .headerRight {
    height: 80%;
    width: 50%;
}

.aboutUsLeft {
    width: 40%;
}

.aboutUsRight {
    width: 60%;
}


section, footer {
    height: 100dvh;
}

.openingHours2 {
    width: 50%;
}

/*** Flexbox ****/

header {
    display: flex;
    flex-wrap: wrap;
}

.headerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutUs {
    display: flex;
    flex-wrap: wrap;
}

.aboutUsRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.openingHours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.openingHours1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 25%;
}

.box1, .box2 {
    display: flex;
    justify-content: space-around;
}

.box3 {
    display: flex;
    justify-content: center;
}

.order {
    display: flex;
    flex-direction: column;
}

.topOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.orderContainer {
    width: 60%;
    height: 100%;
    padding: 5%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bottomOrder {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** Content ***/

header {
    background-image: url("../img/headerEditedFlipped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUsLeft {
    background-image: url("../img/teapotPie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUsRight {
    background-image: url("../img/oatmealEdited2.jpg");
    background-size: 50%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.footerImg {
    height: 25%;
    border-radius: 50%;
}

.bowlOfFruit {
    width: 70%;
    min-width: 350px;
}

.openingHours2 {
    width: 75%;
    height: 60%;
}

.topOrder {
    height: 25%;
} 

.bottomOrder {
    height: 75%;
}

.orderPics {
    height: 50%;
    width: 21%;
    margin: calc(10/8);
    padding: 1.2em;
}

/** Typography ***/

html {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #a5a8b5;
    font-weight: bold;
}

a:hover {
    color: blue;
    cursor: pointer;
}

ul {
    list-style-type: none;
    height: 50%;
    width: 50%;
}

footer {
    text-align: center;
}

.footerSpan {
    color: #ffbd84;
}

.footerP {
    width: 50%;
    line-height: 40px;
}

.footerSpan, .footerImg, .footerSpan2, .footerSpan3, .footerSpan4, .footerP, .footerH4 {
    padding: .8em;
}

.footerSpan2 {
    padding-top: 0px;
    margin-top: 0px;
}

.footerH4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.welcome {
    font-size: 4rem;
}

.searchButton {
    color: white;
    background-color: #ff9135;
}

.search {
    width: 80%;
    max-width: 600px;
    height: 10%;
    text-align: center;
    display: inline;
}
.searchBar {
    width: 80%;
    height: 40px;
}

.searchButton {
    width: 20%;
    height: 40px;
}

.socialIcons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
}

.icon1 {
    flex-grow: 2;
}

.icon2, .icon3 {
    flex-grow: 2;
}

.about {
    color: #ff9b43;
    font-weight: bold;
}

.discover {
    font-size: 4rem;
}

.discoverSpace {
    padding: 50px 50px 20px 0px;
}

.discoverButton {
    padding: 0px;
    width: 200px;
    height: 50px;
    background-color: #ff9135;
}

.orderOnline {
    color:#ff9135;
    font-weight: bold;
}

.cuisine {
    font-size: 3rem;
}

.cuisineUl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.cusineLi {
    width: 20%;
}

.cuisineLi:hover {
    border-bottom: 2px solid #ff9135;
    color: #ff9135;
}
/** Media Queries **/

@media screen and (max-width: 600px) {

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
    }

    .welcome, .icon1, .icon2, .icon3 {
        font-size: 2rem;
        color: white;
        text-shadow: 4px 4px black;
    }

    header {
        background-image: url(../img/headerEditedFlipped.jpg);
        background-position: right;
    }

    ul {
        width: 100%;
    }

    .footerP {
        font-size: .6em;
        line-height: 20px;
        width: 90%;
        text-align: center;
    }
    .headerRight, .aboutUsLeft {
        display: none;
    }
    .headerLeft {
        width: 100%;
    }

    .aboutUsRight {
        font-size: .5rem;
        background-image: none;
    }

    .aboutUs {
        background-image: url(../img/oatmealEdited2.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .discover {
        font-size: 2rem;
    }
   
    .schedule {
        font-size: .5rem;
    }

    .cuisine {
        font-size: 1rem;
    }

    .cuisineLi {
        font-size: .5rem;
    }

    .bottomOrder {
        display: none;
    }

    .order {
        background-image: url(../img/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cuisine, .cuisineUl {
        color: white;
    }
  
}